*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore all files in the directory target/
target/

Ignore the .classpath file in the root directory
/.classpath

# ignore doc/notes.txt, but not doc/info/arch.txt
# doc/*.txt

# ignore all .txt files in the directory doc/
# doc/**/*.txt
